
.NavBar2
{
   float:right;
  margin: 60px;
}

li{
    display: inline-flex;
    color: yellowgreen;
    padding: 1rem;
    font-size: xx-large;

}
link{
    text-decoration: none;
}
.Footer
{
    position: fixed;
    bottom: 0;
    margin-left: -8px;
    width: 100%;
    text-align: center;
    color: #ddd4e0;
    background: #442d4d;
    height: 7rem;
}
img{
    width: 5rem;
}
p
{
    margin-top: -10px;
}